# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 11
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    #
    for para in parsed_content.find_all("h2", {"class": "text_header"}):
        reviews.append(para.get_text().strip())
    
    print(f"   ---> {len(reviews)} total titles")

Scraping page 1
   ---> 100 total titles
Scraping page 2
   ---> 200 total titles
Scraping page 3
   ---> 300 total titles
Scraping page 4
   ---> 400 total titles
Scraping page 5
   ---> 500 total titles
Scraping page 6
   ---> 600 total titles
Scraping page 7
   ---> 700 total titles
Scraping page 8
   ---> 800 total titles
Scraping page 9
   ---> 900 total titles
Scraping page 10
   ---> 1000 total titles
Scraping page 11
   ---> 1100 total titles

In [6]:
df = pd.DataFrame()
df["titles"] = reviews
df.head()

                                             titles
0           "eventually make good on their promise"
1                       "Extremely sub-par service"
2                       "the service was excellent"
3                  "I thoroughly enjoyed my flight"
4  "wouldn't let me check-in until 24 hours before"

In [10]:
# Cleaning data removing starting unneccesary text in the df

#text=text[text.index("|")+1:]
for i in range(0,len(df)):
    text=df['titles'][i]

    text_replaced= text.strip('"')

    df['titles'] = df['titles'].replace(to_replace =text, value=text_replaced)
df

                                              titles
0              eventually make good on their promise
1                          Extremely sub-par service
2                          the service was excellent
3                     I thoroughly enjoyed my flight
4     wouldn't let me check-in until 24 hours before
...                                              ...
1095                    BA needs to improve and fast
1096           check in my carry on luggage for free
1097             sad to see how BA service went down
1098                      a no frills business class
1099            British Airways is seriously lacking

[1100 rows x 1 columns]

In [11]:
df.to_csv("data/BA_titles.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.